
.header {
  margin-top: 30px;
  margin-bottom: 75px;
  height: 5px;
}

.navigation-list {
  list-style: none;
  margin-top: 25px;
}

.navigation-item {
  display: inline;
  + .navigation-item {
    margin-left: 20px;
  }
}

.navigation-link {

}

.navigation-icon {
  height: 2.5em;
}

